.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cont1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cont2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-item img{
    height: 300px;
    width:300px;
}

.cont3{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
    margin-top: 2rem;
    gap: 10px;
}